{% extends 'admin/layouts/master.twig' %}

{% block title %}视频列表{% endblock %}

{% block content %}
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 视频管理 <span class="c-gray en">&gt;</span> 视频列表 </nav>
    <div class="page-container">
        <div class="text-c">
            <form action="" method="get" class="js-form">
                <input type="hidden" value="admin/video" name="c">
                <input type="text" class="input-text" style="width:250px" placeholder="输入视频名称" value="{{ video_name }}" name="video_name">
                <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜视频</button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius js-add" href="javascript:;"><i class="Hui-iconfont"></i> 添加视频</a></span> <span class="r">共有数据：<strong>{{ total }}</strong> 条</span> </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr>
                <th scope="col" colspan="10">视频列表</th>
            </tr>
            <tr class="text-c">
                <th>ID</th>
                <th>视频名称</th>
                <th>流媒体协议</th>
                <th>视频链接</th>
                <th>视频宽度</th>
                <th>视频高度</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% if list|length > 0 %}
            {% for item in list %}
            <tr class="text-c js-tr-num">
                <td>{{ item.id }}</td>
                <td>{{ item.video_name }}</td>
                <td>{% if item.protocol == 'hls' %}hls {% else %} rtmp（<span style="color: red;font-weight: bold">不支持ios</span>）{% endif %}</td>
                <!--<td>rtmp，不支持ios</td>-->
                <td>{{ item.video_link }}</td>
                <td>{{ item.width }}</td>
                <td>{{ item.height }}</td>
                <td>{{ item.created_at }}</td>
                <td class="td-manage">
                    {% if item.status==10 %}
                    <a style="text-decoration:none" onClick="video_stop(this,'{{ item.id }}')" href="javascript:;" title="停用"><i class="Hui-iconfont" style="color: #B5A642">&#xe631;</i></a>
                    {% else %}
                    <a style="text-decoration:none" onClick="video_start(this,'{{ item.id }}')" href="javascript:;" title="启用"><i class="Hui-iconfont" style="color: #5eb95e">&#xe615;</i></a>
                    {% endif %}
                    <a title="编辑" href="javascript:;" class="ml-5 js-edit" data-id="{{ item.id }}"><i class="Hui-iconfont" style="color: #5a98de">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" class="ml-5 js-delete" data-id="{{ item.id }}"><i class="Hui-iconfont" style="color: #D14">&#xe609;</i></a>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <tr class="text-c">
                <td colspan="10">暂无专题数据</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="col-sm-12 text-right pageNav">
            {{ pages|raw }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>

    $(function () {

        /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
        */

        /*直播视频-增加*/
        $(".js-add").click(function () {
            var title = "添加视频"
            var url = "admin/video/create"
            var w = "800"
            var h = "500"
            layer_show(title,url,w,h);
        })

        /*直播视频-编辑*/
        $(".js-edit").click(function () {
            var id = $(this).data('id')
            var title = "编辑视频"
            var url = "admin/video/update" + '/' + id
            var w = "800"
            var h = "500"
            layer_show(title,url,w,h);
        })

        /*直播视频-删除*/
        $(".js-delete").click(function () {
            var id = $(this).data('id')
            _this = $(this)
            layer.confirm('确认要删除吗？',function(index){
                $.ajax({
                    type: 'POST',
                    url: 'admin/video/delete' + '/' + id,
                    data: {},
                    dataType: 'json',
                    success: function(response){

                        //成功
                        if (response.errorCode === '10000') {
                            layer.msg(response.data, {icon: 1, time: 1000}, function () {

                                if($(".js-tr-num").length > 1){
                                    _this.parents("tr").remove()
                                }else{
                                    location.reload()
                                }

                            })
                            return
                        }

                        //失败
                        if (response.errorCode === '20000') {
                            layer.alert(response.data);
                            return
                        }

                        //其他异常
                        layer.alert(response.msg);
                        return

                    }
                });
            })
        })
    })

    /*直播视频-停用*/
    function video_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){

            $.ajax({
                type: 'POST',
                url: 'admin/video/statusNo' + '/' + id,
                data: {},
                dataType: 'json',
                success: function(response){

                    //成功
                    if (response.errorCode === '10000') {
                        $(obj).parents("tr").find(".td-manage").prepend('<a onClick="video_start(this,\'' + id + '\')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont" style="color: #5eb95e">&#xe615;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label radius">停用</span>');
                        $(obj).remove();
                        layer.msg('已停用!',{icon: 5,time:1000});
                        return
                    }

                    //失败
                    if (response.errorCode === '20000') {
                        layer.alert(response.data);
                        return
                    }

                    //其他异常
                    layer.alert(response.msg);
                    return

                }
            })

        });
    }

    /*直播视频-启用*/
    function video_start(obj,id){
        layer.confirm('确认要启用吗？',function(index){
            $.ajax({
                type: 'POST',
                url: 'admin/video/statusYes' + '/' + id,
                data: {},
                dataType: 'json',
                success: function(response){

                    //成功
                    if (response.errorCode === '10000') {
                        $(obj).parents("tr").find(".td-manage").prepend('<a onClick="video_stop(this,\'' + id + '\')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont" style="color: #B5A642">&#xe631;</i></a>');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">启用</span>');
                        $(obj).remove();
                        layer.msg('已启用!', {icon: 6,time:1000});
                        return
                    }

                    //失败
                    if (response.errorCode === '20000') {
                        layer.alert(response.data);
                        return
                    }

                    //其他异常
                    layer.alert(response.msg);
                    return

                }
            })
        });
    }
</script>
{% endblock %}